table.comicGreenaddingCustomer {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #4F7849;
  background-color: #EEEEEE;
  width: 23%;
  text-align: center;
  border-collapse: collapse;
}
table.comicGreenaddingCustomer td, table.comicGreenaddingCustomer th {
  border: 1px solid #4F7849;
  padding: 3px 2px;
}
table.comicGreenaddingCustomer tbody td {
  font-size: 19px;
  font-weight: bold;
  color: #4F7849;
}
table.comicGreenaddingCustomer tr:nth-child(even) {
  background: #CEE0CC;
}
table.comicGreenaddingCustomer tfoot td {
  font-size: 21px;
}