table.comicGreenShowingCustomers {
  border: 3px solid #000000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.comicGreenShowingCustomers td, table.comicGreenShowingCustomers th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.comicGreenShowingCustomers tbody td {
  font-size: 13px;
}
table.comicGreenShowingCustomers tr:nth-child(even) {
  background: #EFEFEF;
}
table.comicGreenShowingCustomers thead {
  background: #BCBCBC;
  background: -moz-linear-gradient(top, #cdcdcd 0%, #c2c2c2 66%, #BCBCBC 100%);
  background: -webkit-linear-gradient(top, #cdcdcd 0%, #c2c2c2 66%, #BCBCBC 100%);
  background: linear-gradient(to bottom, #cdcdcd 0%, #c2c2c2 66%, #BCBCBC 100%);
  border-bottom: 3px solid #000000;
}
table.comicGreenShowingCustomers thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
table.comicGreenShowingCustomers tfoot td {
  font-size: 14px;
}