table.comicGreenShowingCustomers {
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 2px solid #4F7849;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.comicGreenShowingCustomers td, table.comicGreenShowingCustomers th {
  border: 1px solid #4F7849;
  padding: 3px 2px;
}
table.comicGreenShowingCustomers tbody td {
  font-size: 19px;
  font-weight: bold;
  color: #4F7849;
}
table.comicGreenShowingCustomers tr:nth-child(even) {
  background: #CEE0CC;
}
table.comicGreenShowingCustomers thead {
  background: #4F7849;
  background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-bottom: 1px solid #444444;
}
table.comicGreenShowingCustomers thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #D0E4F5;
}
table.comicGreenShowingCustomers thead th:first-child {
  border-left: none;
}

table.comicGreenShowingCustomers tfoot td {
  font-size: 21px;
}