<!DOCTYPE html>

<html>
<head>
    <title>Dodawanie Nowego Zdarzenia</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="/bootstrap/4.4.1/css/bootstrap.min.css">
<body>

<div class="card m-2 p-2">
    <nav class="navbar navbar-light bg-light m-1 p-1">
        <div class="card-body text-center">
            <img data-th-src="@{/images/logo_autogps.png}" style="max-width: 25%; height: 100px;">
        </div>
    </nav>
</div>

<form action="#"
      data-th-action="@{/customer/customerTechnicalPanel/customerTechnicalDetalis/{customerSelectionId}/addingTechnicalEvent(customerSelectionId=${customerSelectionId})}"
      data-th-method="POST">
    <div class="card text-center m-2 p-2 w-50 mx-auto">
        <table class="table table-striped">
            <thead data-th-each="ct : ${selectedCustomerById}">

            <tr>
                <th>*Wlasciwosci Obiektu*</th>
                <th></th>
            </tr>

            <tr>
                <th>ID</th>
                <td data-th-text="*{ct.customerId}"></td>
            </tr>

            <tr>
                <th>Numer Umowy</th>
                <td data-th-text="*{ct.customerContractId}"></td>
            </tr>

            <tr>
                <th>Numer PDF</th>
                <td data-th-text="*{ct.customerContractPdfId}"></td>
            </tr>

            </thead>
            <tbody>
            <tr>

                <th>Data Zgloszenia Problemu</th>
                <td><input data-th-value="*{customerTechnicalPanel.customerTechnicalIssueOccourDate}"
                           id="customerTechnicalIssueOccourDate"
                           maxlength="12"
                           name="customerTechnicalIssueOccourDate" type="text"/></td>
            </tr>

            <tr>
                <th>Opis Problemu</th>
                <td><textarea cols="50" data-th-field="*{customerTechnicalPanel.customerTechnicalIssueDescribtion}"
                              rows="8"></textarea>
                </td>
            </tr>

            <tr>
                <th></th>
                <th>
                    <a class="btn btn-light m-2" data-th-href="@{/customer/customerTechnicalPanel/customerTechnicalDetalis(id=${customerSelectionId})}"
                       role="button">Anuluj</a>
                    <button class="btn btn-success m-2" id="submit" name="submit" type="submit">Zapisz</button>
                </th>
            </tr>

            </tbody>
        </table>
    </div>
</form>

<div class="card m-3 p-3 mx-auto">
    <div class="badge badge-light mx-auto">
        Copyright © Michał Gołdys, 2020y.
    </div>
</div>

<script src="/jquery/3.4.1/dist/jquery.slim.min.js"></script>
<script src="/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>