<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie Kontrahenta</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <script src="/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/bootstrap/4.4.1/css/bootstrap.min.css">

<body>

<div class="card m-2 p-2">
    <nav class="navbar navbar-light bg-light m-1 p-1">
        <div class="card-body text-center">
            <img data-th-src="@{/images/logo_main.png}" style="max-width: 25%; height: 100px;">
        </div>
    </nav>
</div>

<form action="#" data-th-action="@{/customer/addingCustomer}" method="post">
    <div class="card m-3 p-3 b-5 mx-auto w-25">
        <div class="form-group">
            <label for="customerContractId">Numer Umowy</label>
            <input aria-describedby="customerContractIdHelp" class="form-control"
                   data-th-field="*{customer.customerContractId}" id="customerContractId"
                   placeholder="01/01/2000" type="text">
            <small class="form-text text-muted" id="customerContractIdHelp">Numer Umowy widoczny na umowie</small>
        </div>
        <div class="form-group">
            <label for="customerContractPdfId">Numer PDF</label>
            <input aria-describedby="customerContractPdfIdHelp" class="form-control"
                   data-th-field="*{customer.customerContractPdfId}"
                   id="customerContractPdfId" placeholder="0123, PR 2000"
                   type="text">
            <small class="form-text text-muted" id="customerContractPdfIdHelp">Numer PDF nadany w ewidencji</small>
        </div>
        <div class="form-group">
            <label for="customerName">Nazwa Kontrahenta</label>
            <input aria-describedby="customerName" class="form-control" data-th-field="*{customer.customerName}"
                   id="customerName"
                   type="text">
            <small class="form-text text-muted" id="customerNameHelp">Nazwa kontrahenta zgoda z CEDIG</small>
        </div>
        <div class="form-group">
            <label for="customerNip">Numer NIP</label>
            <input aria-describedby="customerNip" class="form-control" data-th-field="*{customer.customerNip}"
                   id="customerNip"
                   placeholder="1233211212" type="text">
            <small class="form-text text-muted" id="customerNipHelp">Numer NIP zgodny z umowa</small>
        </div>
        <div class="form-group">
            <label for="customerCity">Miasto</label>
            <input aria-describedby="customerCity" class="form-control" data-th-field="*{customerAddress.customerCity}"
                   id="customerCity"
                   type="text">
            <small class="form-text text-muted" id="customerCityHelp">Miasto zarejestrowania działalności</small>
        </div>
        <div class="form-group">
            <label for="customerStreet">Ulica</label>
            <input aria-describedby="customerStreet" class="form-control"
                   data-th-field="*{customerAddress.customerStreet}" id="customerStreet"
                   type="text">
            <small class="form-text text-muted" id="customerStreetHelp">Ulica zarejestrowania działalnosci jeżeli
                istnieje</small>
        </div>
        <div class="form-group">
            <label for="customerZipCode">Kod Pocztowy</label>
            <input aria-describedby="customerZipCode" class="form-control"
                   data-th-field="*{customerAddress.customerZipCode}" id="customerZipCode"
                   placeholder="01-123" type="text">
            <small class="form-text text-muted" id="customerZipCodeHelp">Kod pocztowy zarejestrowania
                działalnosci</small>
        </div>
        <div class="form-group">
            <label for="customerContactName">Osoba kontaktowa - Imie</label>
            <input aria-describedby="customerContactName" class="form-control"
                   data-th-field="*{customerContact.customerContactName}" id="customerContactName"
                   type="text">
            <small class="form-text text-muted" id="customerContactNameHelp">Imie osoby podanej do kontaktu w imieniu
                firmy</small>
        </div>
        <div class="form-group">
            <label for="customerContactSurname">Osoba kontaktowa - Nazwisko</label>
            <input aria-describedby="customerContactSurname" class="form-control"
                   data-th-field="*{customerContact.customerContactSurname}"
                   id="customerContactSurname" type="text">
            <small class="form-text text-muted" id="customerContactSurnameHelp">Nazwisko osoby podanej do kontaktu w
                imieniu firmy</small>
        </div>
        <div class="form-group">
            <label for="customerContactPhoneNumber">Osoba kontaktowa - Telefon</label>
            <input aria-describedby="customerContactPhoneNumber" class="form-control"
                   data-th-field="*{customerContact.customerContactPhoneNumber}"
                   id="customerContactPhoneNumber"
                   placeholder="123456789, 01 23 34 567"
                   type="text">
            <small class="form-text text-muted" id="customerContactPhoneNumberHelp">Numer telefonu do osoby do kontaktu
                w firmie</small>
        </div>
        <div class="form-group">
            <label for="customerContactMailAddress">Adres email</label>
            <input aria-describedby="customerContactMailAddress" class="form-control"
                   data-th-field="*{customerContact.customerContactMailAddress}"
                   id="customerContactMailAddress"
                   placeholder="example@com.pl"
                   type="text">
            <small class="form-text text-muted" id="customerContactMailAddressHelp">Numer telefonu do osoby do kontaktu w
                firmie</small>
        </div>
        <div class="form-check">
            <input class="form-check-input" id="customerContractDetails.customerEinvoiceAgreement"
                   th:field="*{customerContractDetails.customerEinvoiceAgreement}"
                   type="checkbox">
            <label class="form-check-label" for="customerContractDetails.customerEinvoiceAgreement">
                Zgoda na fakture elektroniczna
            </label>
        </div>

        <td>
            <button class="btn btn-success m-2" name="addingCustomer" type="submit">Zapisz</button>
        </td>
        <td>
            <a class="btn btn-light m-2" data-th-href="@{/customer/customerMenu}" role="button">Powrot Na Strone
                Glowna</a>
        </td>

    </div>
</form>

<div class="card m-3 p-3 mx-auto">
    <div class="badge badge-light mx-auto">
        Copyright © Michał Gołdys, 2020y.
    </div>
</div>

</body>
</html>