<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Dodawanie Kontrahenta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <form action="#" data-th-action="@{/customer/addingCustomer}" method="post">
    <ul>
  	<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
	</ul>
    <div align="center">
    <table class="comicGreenaddingCustomer">
<tbody>
<tr>
<td>Numer Umowy</td>
<td><input type="text" data-th-field="*{customerDto.customerContractId}"/></td>
<td><p th:if="${#fields.hasErrors('customerDto.customerContractId')}" >Contract Id Error</p></td>
</tr>
<tr>
<td>Numer PDF</td>
<td><input type="text" data-th-field="*{customerDto.customerContractPdfId}"/></td>
<td th:if="${#fields.hasErrors('customerDto.customerContractPdfId')}" >Contract Id Error</td>
</tr>
<tr>
<td>Nazwa Kontrahenta</td>
<td><input type="text" data-th-field="*{customerDto.customerName}"/></td>
<td><p th:if="${#fields.hasErrors('customerDto.customerName')}" th:errors="*{customerDto.customerName}">Customer Name Error</p></td>
</tr>
<tr>
<td>Numer NIP</td>
<td><input type="text" data-th-field="*{customerDto.customerNip}"/></td>
<td><p th:if="${#fields.hasErrors('customerDto.customerNip')}" th:errors="*{customerDto.customerNip}">Customer NIP Error</p></td>
</tr>
<tr>
<td>Miasto</td>
<td><input type="text" data-th-field="*{customerAdress.customerCity}"/></td>
<td><p th:if="${#fields.hasErrors('customerAdress.customerCity')}" th:errors="*{customerAdress.customerCity}">Customer City Error</p></td>
</tr>
<tr>
<td>Ulica</td>
<td><input type="text" data-th-field="*{customerAdress.customerStreet}"/></td>
<td><p th:if="${#fields.hasErrors('customerAdress.customerStreet')}" th:errors="*{customerAdress.customerStreet}">Customer City Error</p></td>
</tr>
<tr>
<td>Kod Pocztowy</td>
<td><input type="text" data-th-field="*{customerAdress.customerZipCode}"/></td>
<td><p th:if="${#fields.hasErrors('customerAdress.customerZipCode')}" th:errors="*{customerAdress.customerZipCode}">Customer Zip Error</p></td>
</tr>
<tr>
<td>Osoba kontaktowa - Imie</td>
<td><input type="text" data-th-field="*{customerContact.customerContactName}"/></td>
<td><p th:if="${#fields.hasErrors('customerContact.customerContactName')}" th:errors="*{customerContact.customerContactName}">Customer Name Error</p></td>
</tr>
<tr>
<td>Osoba kontaktowa - Nazwisko</td>
<td><input type="text" data-th-field="*{customerContact.customerContactSurname}"/></td>
<td><p th:if="${#fields.hasErrors('customerContact.customerContactSurname')}" th:errors="*{customerContact.customerContactSurname}">Customer Surname Error</p></td>
</tr>
<tr>
<td>Osoba kontaktowa - Telefon</td>
<td><input type="text" data-th-field="*{customerContact.customerContactPhoneNumber}"/></td>
<td><p th:if="${#fields.hasErrors('customerContact.customerContactPhoneNumber')}" th:errors="*{customerContact.customerContactPhoneNumber}">Customer Number Error</p></td>
</tr>
<tr>
<td>Adres Email Firmy</td>
<td><input type="text" data-th-field="*{customerContact.customerContactMailAdress}"/></td>
<td><p th:if="${#fields.hasErrors('customerContact.customerContactMailAdress')}" th:errors="*{customerContact.customerContactMailAdress}">Customer Email Error</p></td>
</tr>
<tr>
<td>Faktura elektroniczna</td>
<td>
Zgoda na Efakture<input type="checkbox" th:field="*{customerContractDetalis.customerEinvoiceAgreement}"/>
</td>
</tr>
<tr>
<td><a data-th-href="@{/customer/customerMenu}">Anuluj</a></td>
<td><button name="addingCustomer" type="submit">Dodaj Kontrahenta</button></td>
</tr>
</tbody>
</table>
    </div>
    </form>
	</body>