<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/comicGreenShowingCustomers.css}" rel="stylesheet" />
<head>
    <title>Wyswietlanie Kontrahentow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <form action="#" data-th-action="@{/customer/customerTechnicalPanel/customerTechnicalDetalis/{customerSelectionId}/addingTechnicalEvent(customerSelectionId=${customerSelectionId})}" data-th-method="POST">
    <div align="center">
    <table class="comicGreenShowingCustomers">
    <thead data-th-each="ct : ${selectedCustomerById}">
    
<tr>
<th>*Wlasciwosci Obiektu*</th>
<th></th>
</tr>

<tr>
<th>ID</th>
<td data-th-text="*{ct.customerId}"></td>
</tr>

<tr>
<th>Numer Umowy</th>
<td data-th-text="*{ct.customerContractId}"></td>
</tr>

<tr>
<th>Numer PDF</th>
<td data-th-text="*{ct.customerContractPdfId}"></td>
</tr>
    
    </thead>
    <tbody>
    <tr>
    
<th>Data Zgloszenia Problemu</th>
<td><input type="text" data-th-value="*{customerTechnicalPanel.customerTechnicalIssueOccourDate}" name="customerTechnicalIssueOccourDate" id="customerTechnicalIssueOccourDate"/></td>
</tr>

<tr>
<th>Opis Problemu</th>
<td><input type="text" data-th-value="*{customerTechnicalPanel.customerTechnicalIssueDescribtion}" name="customerTechnicalIssueDescribtion" id="customerTechnicalIssueDescribtion"/></td>
</tr>

<tr>
<th></th>
<th>
<a data-th-href="@{/customer/customerTechnicalPanel/customerTechnicalDetalis(id=${customerSelectionId})}"><button type ="button">Anuluj</button></a>
<button type ="submit" name="submit" id="submit">Zapisz</button></th>
</tr>

    </tbody>
	</table>
      </div>
      </form>
	</body>