<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/comicGreenaddingCustomer.css}" rel="stylesheet" />
  <head>
    <title>Dodawanie Kontrahenta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <form action="#" data-th-action="@{/customer/addingCustomer}" method="post">
    <div align="center">
    <table class="comicGreenaddingCustomer">
<tbody>
<tr>
<td>Numer Umowy</td>
<td><input type="text" name="customerContractId" data-th-field="*{customer.customerContractId}" /></td>
</tr>
<tr>
<td>Nazwa Kontrahenta</td>
<td><input type="text" name="customerName" data-th-field="*{customer.customerName}" /></td>
</tr>
<tr>
<td>Numer NIP</td>
<td><input type="text" name="customerNip" data-th-field="*{customer.customerNip}" /></td>
</tr>
<tr>
<td>Miasto</td>
<td><input type="text" name="customerCity" data-th-field="*{customerAdress.customerCity}" /></td>
</tr>
<tr>
<td>Ulica</td>
<td><input type="text" name="customerStreet" data-th-field="*{customerAdress.customerStreet}" /></td>
</tr>
<tr>
<td>Kod Pocztowy</td>
<td><input type="text" name="customerZipCode" data-th-field="*{customerAdress.customerZipCode}" /></td>
</tr>
<tr>
<td>Osoba kontaktowa - Imie</td>
<td><input type="text" name="customerContactName" data-th-field="*{customerContact.customerContactName}" /></td>
</tr>
<tr>
<td>Osoba kontaktowa - Nazwisko</td>
<td><input type="text" name="customerContactSurname" data-th-field="*{customerContact.customerContactSurname}" /></td>
</tr>
<tr>
<td>Osoba kontaktowa - Telefon</td>
<td><input type="text" name="customerContactPhoneNumber" data-th-field="*{customerContact.customerContactPhoneNumber}" /></td>
</tr>
<tr>
<td>Adres Email Firmy</td>
<td><input type="text" name="customerContactMailAdress" data-th-field="*{customerContact.customerContactMailAdress}" /></td>
</tr>
<tr>
<td>Faktura Elektroniczna</td>
<td>cell2_11</td>
</tr>
<tr>
<td><a data-th-href="@{/customer/customerMenu}">Anuluj</a></td>
<td><button name="addingCustomer" type="submit">Dodaj Kontrahenta</button></td>
</tr>
</tbody>
</table>
    </div>
    </form>
	</body>