<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/comicGreenShowingCustomers.css}" rel="stylesheet" />
<head>
    <title>Wyswietlanie Kontrahentow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <form action="#" data-th-action="@{/customer/customerTechnicalPanel/customerTechnicalDetalis(id=${selectedCustomerId})}" data-th-method="POST" role="form">
    <div align="center">
    <table class="comicGreenShowingCustomers">
    
<thead data-th-each="ct : ${selectedCustomerById}" style="width: 20%">

<tr>
<th>*Wlasciwosci Obiektu*</th>
<th></th>
</tr>

<tr>
<th>ID</th>
<td data-th-text="*{ct.customerId}"></td>
</tr>

<tr>
<th>Numer Umowy</th>
<td data-th-text="*{ct.customerContractId}"></td>
</tr>

<tr>
<th>Numer PDF</th>
<td data-th-text="*{ct.customerContractPdfId}"></td>
</tr>

</thead>
<tbody data-th-each="ct : ${selectedCustomerById}">

<tr>
<th>*Dane Firmy*</th>
<th></th>
</tr>

<tr>
<th>Nazwa Firmy</th>
<td data-th-text=*{ct.customerName}></td>
</tr>

<tr>
<th>NIP</th>
<td data-th-text="*{ct.customerNip}"></td>
</tr>

<tr>
<th>*Zgloszenia*</th>
<th>
<span data-th-if="${isEmpty == true}">BRAK WPISOW</span>
</th>
</tr>

<tr data-th-if="${isEmpty == false}">
<th>Data Wpisu</th>
<th>
<div data-th-each="ctc : ${CustomerTechincalPanel}">
<span data-th-text="*{ctc.customerTechnicalIssueOccourDate}"></span> 
</div>
</th>
</tr>

<tr data-th-if="${isEmpty == false}">
<th>Opis</th>
<th>
<div data-th-each="ctc : ${CustomerTechincalPanel}">
<span data-th-text="*{ctc.customerTechnicalIssueDescribtion}"></span>
</div>
</th>
</tr>

<tr>
<th></th>
<th><a data-th-href="@{/customer/customerTechnicalPanel/customerTechnicalDetalis/{customerSelectionId}/addingTechnicalEvent(customerSelectionId=${customerSelectionId})}"><button type ="button">Dodaj Nowy Wpis</button></a></th>
</tr>

<tr>
<th></th>
<th><a data-th-href="@{/customer/customerTechnicalPanel/}"><button type ="button">Powrot</button></a></th>
</tr>

</tbody>
</table>
      </div>
      </form>
	</body>