<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Szczegóły Kontrahenta</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
<body>

<div class="card m-2 p-2">
    <nav class="navbar navbar-light bg-light m-1 p-1">
        <div class="card-body text-center">
            <img data-th-src="@{/images/logo_autogps.png}" style="max-width: 25%; height: 100px;">
        </div>
    </nav>
</div>

<form action="#" data-th-action="@{/customer/showingCustomers/customerDetalis(id=${selectedCustomerId})}"
      data-th-method="POST" role="form">

    <div class="card text-center m-2 p-2 w-50 mx-auto">
        <table class="table table-striped">

            <thead data-th-each="ct : ${selectedCustomerById}">

            <tr>
                <th>*Wlasciwosci Obiektu*</th>
                <th></th>
            </tr>

            <tr>
                <th>ID</th>
                <td data-th-text="*{ct.customerId}"></td>
            </tr>

            <tr>
                <th>Numer Umowy</th>
                <td data-th-text="*{ct.customerContractId}">
                </td>
            </tr>

            <tr>
                <th>Numer PDF</th>
                <td data-th-text="*{selectedCustomerId}">
                </td>
            </tr>

            </thead>
            <tbody data-th-each="ct : ${selectedCustomerById}">

            <tr>
                <th>Dane Firmy</th>
                <th></th>
            </tr>

            <tr>
                <th>Nazwa Firmy</th>
                <td><input data-th-value="*{ct.customerName}" id="customerName" name="customerName" type="text"/>
                    <input data-th-value="*{ct.customerContractId}" id="customerContractId" name="customerContractId"
                           type="hidden"/>
                    <input data-th-value="*{ct.customerContractPdfId}" id="customerContractPdfId"
                           name="customerContractPdfId"
                           type="hidden"/></td>
            </tr>

            <tr>
                <th>NIP</th>
                <td><input data-th-value="*{ct.customerNip}" id="customerNip" name="customerNip" type="text"/></td>
            </tr>

            <tr>
                <th>*Dane Adresowe*</th>
                <th></th>
            </tr>

            <tr>
                <th>Miasto</th>
                <td><input data-th-value="*{ct.CustomerAdress.customerCity}" id="customerCity" name="customerCity"
                           type="text"/>
                    <input data-th-value="*{ct.customerAdress.customerAdressId}" id="customerAdressId"
                           name="customerAdressId"
                           type="hidden"/></td>
            </tr>

            <tr>
                <th>Ulica</th>
                <td><input data-th-value="*{ct.CustomerAdress.customerStreet}" id="customerStreet" name="customerStreet"
                           type="text"/></td>
            </tr>

            <tr>
                <th>Kod Pocztowy</th>
                <td><input data-th-value="*{ct.CustomerAdress.customerZipCode}" id="customerZipCode"
                           name="customerZipCode"
                           type="text"/></td>
            </tr>

            <tr>
                <th>*Dane Kontaktowe*</th>
                <th></th>
            </tr>

            <tr data-th-each="ctc : ${ct.CustomerContact}">
                <th>Os.Kont.: Imie</th>
                <td><input data-th-value="*{ctc.customerContactName}" id="customerContactName"
                           name="customerContactName"
                           type="text"/>
                    <input data-th-value="*{ctc.customerContactId}" id="customerContactId" name="customerContactId"
                           type="hidden"/></td>
            </tr>

            <tr data-th-each="ctc : ${ct.CustomerContact}">
                <th>Os.Kont.: Nazwisko</th>
                <td><input data-th-value="*{ctc.customerContactSurname}" id="customerContactSurname"
                           name="customerContactSurname"
                           type="text"/></td>
            </tr>

            <tr data-th-each="ctc : ${ct.CustomerContact}">
                <th>Os.Kont.: Telefon</th>
                <td><input data-th-value="*{ctc.customerContactPhoneNumber}" id="customerContactPhoneNumber"
                           name="customerContactPhoneNumber" type="text"/></td>
            </tr>

            <tr data-th-each="ctc : ${ct.CustomerContact}">
                <th>Os.Kont.: E-mail</th>
                <td><input data-th-value="*{ctc.customerContactMailAdress}" id="customerContactMailAdress"
                           name="customerContactMailAdress"
                           type="text"/></td>
            </tr>

            <tr>
                <th>*Dane Aktywnosci Klienta*</th>
                <th></th>
            </tr>

            <tr>
                <th>Klient Aktywny</th>
                <td data-th-text="*{ct.customerIsActive}"></td>
            </tr>

            <tr>
                <th>Aktywacja klienta</th>
                <td>
                    <input data-th-checked="*{ct.customerIsActive}" data-th-disabled="*{isDisabled}"
                           id="customerIsActive"
                           name="customerIsActive" type="checkbox"/>
                    <input data-th-value="${customerIsActive}" name="_customerIsActive" type="hidden"/>
                </td>
            </tr>

            <tr>
                <th>Data Aktywacji</th>
                <td><input data-th-value="*{ct.customerActivationDate}" id="customerActivationDate"
                           name="customerActivationDate"
                           th:readonly='readonly' type="text"/></td>
            </tr>

            <tr>
                <th>Data Deaktywacji</th>
                <td><input data-th-value="*{ct.customerDeactivationDate}" id="customerDeactivationDate"
                           name="customerDeactivationDate"
                           th:readonly='readonly' type="text"/></td>
            </tr>

            <tr>
                <th></th>
                <th><a class="btn btn-light w-25 mx-auto m-2" data-th-href="@{/customer/showingCustomers}"
                       role="button">Anuluj
                </a>
                    <button class="btn btn-success w-25 mx-auto m-2" id="submit" name="submit" type="submit">Zapisz
                    </button>
                </th>
            </tr>

            </tbody>
        </table>
    </div>
</form>

<div class="card m-3 p-3 w-75 mx-auto">
    <div class="badge badge-light mx-auto">
        Copyright © Michał Gołdys, 2020y.
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>