<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/comicGreenShowingCustomers.css}" rel="stylesheet" />
<head>
    <title>Wyswietlanie Kontrahentow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <form action="#" data-th-action="@{/customer/showingCustomersBillings/customerBillingDetalis(id=${selectedCustomerId})}" data-th-method="POST" role="form">
    <div align="center">
    <table class="comicGreenShowingCustomers">
    
<thead data-th-each="ct : ${selectedCustomerById}" style="width: 20%">

<tr>
<th>*Wlasciwosci Obiektu*</th>
<th></th>
</tr>

<tr>
<th>ID</th>
<td data-th-text="*{ct.customerId}"></td>
</tr>

<tr>
<th>Numer Umowy</th>
<td data-th-text="*{ct.customerContractId}"></td>
</tr>

<tr>
<th>Numer PDF</th>
<td data-th-text="*{selectedCustomerId}"></td>
</tr>

</thead>
<tbody data-th-each="ct : ${selectedCustomerById}">

<tr>
<th>*Dane Firmy*</th>
<th></th>
</tr>

<tr>
<th>Nazwa Firmy</th>
<td data-th-text=*{ct.customerName}></td>
</tr>

<tr>
<th>NIP</th>
<td data-th-text="*{ct.customerNip}"></td>
</tr>

<tr>
<th>*Dane Billingowe*</th>
<th><input type="hidden" data-th-value="*{ct.CustomerContractDetalis.customerContractDetalisId}" name="customerContractDetalisId" id ="customerContractDetalisId" /></th>
</tr>

<tr>
<th>Faktura elektroniczna</th>
<td>
<input type="checkbox" data-th-checked="*{ct.CustomerContractDetalis.customerEinvoiceAgreement}" name="customerEinvoiceAgreement" id="customerEinvoiceAgreement"/>
<input type="hidden" name="_customerEinvoiceAgreement" data-th-value="${customerEinvoiceAgreement}"/>
</td>
</tr>

<tr>
<th>Abonamenty PL</th>
<td><input type="text" data-th-value="*{ct.CustomerContractDetalis.customerPlSubstripctions}" name="customerPlSubstripctions" id="customerPlSubstripctions"/>
</td>
</tr>

<tr>
<th>Abonamenty UE</th>
<td><input type="text" data-th-value="*{ct.CustomerContractDetalis.customerPlUeSubstripctions}" name="customerPlUeSubstripctions" id="customerPlUeSubstripctions"/></td>
</tr>

<tr>
<th>Abonamenty RU</th>
<td><input type="text" data-th-value="*{ct.CustomerContractDetalis.customerRuSubscriptions}" name="customerRuSubscriptions" id="customerRuSubscriptions"/></td>
</tr>

<tr>
<th>Stawka PL</th>
<td><input type="text" data-th-value="*{ct.CustomerContractDetalis.customerPlFee}" name="customerPlFee" id="customerPlFee"/></td>
</tr>

<tr>
<th>Stawka PL+UE</th>
<td><input type="text" data-th-value="*{ct.CustomerContractDetalis.customerPlUeFee}" name="customerPlUeFee" id="customerPlUeFee"/></td>
</tr>

<tr>
<th>Stawka RU</th>
<td><input type="text" data-th-value="*{ct.CustomerContractDetalis.customerRuFee}" name="customerRuFee" id="customerRuFee"/></td>
</tr>

<tr>
<th></th>
<th><a data-th-href="@{/customer/showingCustomersBillings}"><button type ="button">Anuluj</button></a>
<button type="submit" name="submit" id="submit">Zapisz</button></th>
</tr>

</tbody>
</table>
      </div>
      </form>
	</body>