<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zgłoszenia Techniczne</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="/bootstrap/4.4.1/css/bootstrap.min.css">
<body>

<div class="card m-2 p-2">
    <nav class="navbar navbar-light bg-light m-1 p-1">
        <div class="card-body text-center">
            <img data-th-src="@{/images/logo_autogps.png}" style="max-width: 25%; height: 100px;">
        </div>
    </nav>
</div>

<div class="card m-2 p-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <th:block data-th-if="${isPrevious == true}">
            <th><a data-th-href="@{./?(page=${page-1}, sort=${sort}, query=${query})}">Poprzednia Strona</a></th>
        </th:block>

        <th:block data-th-if="${isNext == true}">
            <th><a data-th-href="@{./?(page=${page+1}, sort=${sort}, query=${query})}">Nastepna Strona</a></th>
        </th:block>

        <form action="#" data-th-action="@{showingCustomersInteractive/?(page=${page}, sort=${sort}, query=${query})}">
            <th><input data-th-value="${query}" id="query" name="query" type="text"></th>
            <th>
                <button class="btn btn-success m-3" type="button">Szukaj</button>
            </th>
        </form>

        <a class="btn btn-primary m-2" data-th-href="@{/customer/customerMenu}" role="button">Powrot</a>
    </nav>
</div>
<div class="card text-center m-2 p-2">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>LP</th>
            <th>Numer Umowy</th>
            <th>Numer PDF</th>
            <th>Nazwa</th>
            <th>NIP</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th>Kod Pocztowy</th>
            <th>Data Ostatniego Zgloszenia</th>
            <th>Ilosc Zgloszen</th>
            <th>Aktywny</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="ct, iterStat : ${customer}">
            <td data-th-text="${iterStat.count}"></td>
            <td data-th-text="${ct.customerContractId}"></td>
            <td>
                <a data-th-href="@{/customer/customerTechnicalPanel/customerTechnicalDetalis(id=${ct.customerContractPdfId})}"
                   data-th-text="${ct.customerContractPdfId}"></a></td>
            <td data-th-text="${ct.customerName}"></td>
            <td data-th-text="${ct.customerNip}"></td>
            <td data-th-text="${ct.CustomerAdress.customerCity}"></td>
            <td data-th-text="${ct.CustomerAdress.customerStreet}"></td>
            <td data-th-text="${ct.CustomerAdress.customerZipCode}"></td>
            <td data-th-text="${customerLastIssueDate[__${iterStat.index}__]}"></td>
            <td data-th-text="${customerIssueCount[__${iterStat.index}__]}"></td>
            <td data-th-text="${ct.customerIsActive}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="card m-3 p-3 mx-auto">
    <div class="badge badge-light mx-auto">
        Copyright © Michał Gołdys, 2020y.
    </div>
</div>

<script src="/jquery/3.4.1/dist/jquery.slim.min.js"></script>
<script src="/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>