<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Szczegóły Techniczne</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="/bootstrap/4.4.1/css/bootstrap.min.css">
<body>

<div class="card m-2 p-2">
    <nav class="navbar navbar-light bg-light m-1 p-1">
        <div class="card-body text-center">
            <img data-th-src="@{/images/logo_main.png}" style="max-width: 25%; height: 100px;">
        </div>
    </nav>
</div>

<form action="#" data-th-action="@{/customer/customerTechnicalPanel/customerTechnicalDetails(id=${selectedCustomerId})}"
      data-th-method="POST" role="form">

    <div class="card text-center m-2 p-2 w-50 mx-auto">
        <table class="table table-striped">

            <thead data-th-each="ct : ${selectedCustomerById}" style="width: 20%">

            <tr>
                <th>*Wlasciwosci Obiektu*</th>
                <th></th>
            </tr>

            <tr>
                <th>ID</th>
                <td data-th-text="*{ct.customerId}"></td>
            </tr>

            <tr>
                <th>Numer Umowy</th>
                <td data-th-text="*{ct.customerContractId}"></td>
            </tr>

            <tr>
                <th>Numer PDF</th>
                <td data-th-text="*{ct.customerContractPdfId}"></td>
            </tr>

            </thead>
            <tbody data-th-each="ct : ${selectedCustomerById}">

            <tr>
                <th>*Dane Firmy*</th>
                <th></th>
            </tr>

            <tr>
                <th>Nazwa Firmy</th>
                <td data-th-text=*{ct.customerName}></td>
            </tr>

            <tr>
                <th>NIP</th>
                <td data-th-text="*{ct.customerNip}"></td>
            </tr>

            <tr>
                <th>*Zgloszenia*</th>
                <th>
                    <span data-th-if="${isEmpty == true}">BRAK WPISOW</span>
                </th>
            </tr>

            <th:block data-th-if="${isEmpty == false}">
                <th:block data-th-each="ctc : ${ct.CustomerTechnicalPanel}">
                    <tr>
                        <th>Data Wpisu</th>
                        <th data-th-text="*{ctc.customerTechnicalIssueOccurDate}"></th>
                    </tr>

                    <tr>
                        <th>Opis</th>
                        <th data-th-text="*{ctc.customerTechnicalIssueDescription}">
                        </th>
                    </tr>
                </th:block>
            </th:block>

            </tbody>
        </table>
        <a class="btn btn-success w-25 mx-auto m-2" data-th-href="@{/customer/customerTechnicalPanel/customerTechnicalDetails/{customerSelectionId}/addingTechnicalEvent(customerSelectionId=${customerSelectionId})}"
           role="button">
            Dodaj Nowy Wpis</a>
        <a class="btn btn-light w-25 mx-auto m-2" data-th-href="@{/customer/customerTechnicalPanel}" role="button">Anuluj
        </a>

    </div>
</form>

<div class="card m-3 p-3 mx-auto">
    <div class="badge badge-light mx-auto">
        Copyright © Michał Gołdys, 2020y.
    </div>
</div>

<script src="/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>