<!DOCTYPE html>

<html>
<head>
    <title>Menu Główne</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="/bootstrap/4.4.1/css/bootstrap.min.css">
<body>

<div class="card m-2 p-2 mx-auto">
    <nav class="navbar navbar-light bg-light m-1 p-1">
        <div class="card-body text-center">
            <img data-th-src="@{/images/logo_main.png}" style="max-width: 25%; height: 100px;">
        </div>
    </nav>
</div>

<div class="list-group card text-center m-4 p-4 w-25 mx-auto">
    <a class="list-group-item list-group-item-action" data-th-href="@{/customer/showingCustomers}">1. Baza
        Kontrahentow</a>
    <a class="list-group-item list-group-item-action" data-th-href="@{/customer/showingCustomersBillings}">2. Informacje
        Rozliczeniowe Kontrahentow</a>
    <a class="list-group-item list-group-item-action" data-th-href="@{/customer/customerTechnicalPanel}">3. Panel
        Obslugi Technicznej</a>
    <a class="list-group-item list-group-item-success" data-th-href="@{/customer/addingCustomer}">4. Dodaj nowego
        kontrahenta</a>
    <a class="list-group-item list-group-item-action" data-th-href="@{/customer/userscontrolpanel}">5. Panel zarządzania
    użytkownikami</a>
</div>

<div class="card m-3 p-3 mx-auto w-25">
    <div class="badge badge-light mx-auto">
        Copyright © Michał Gołdys, 2020y.
    </div>
</div>

<script src="/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>