<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/comicGreen.css}" rel="stylesheet" />
  <head>
    <title>Modul Zarzadzania Klientami</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <div align="center">
    <table class="comicGreen">
<tbody>
<tr>
<td>1</td>
<td>Przejdz do podgladu bazy kontrahentow</td>
</tr>
<tr>
<td>2</td>
<td>Wyszukaj kontrahenta</td>
</tr>
<tr>
<td>3</td>
<td><a data-th-href="@{/customer/addingCustomer}">Dodaj nowego kontrahenta</a></td>
</tr>
<tr>
<td>4</td>
<td><a data-th-href="@{/../index}">Powroc do menu glownego</a></td>
</tr>
</tbody>
</table>
    </div>
	</body>