<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wyswietlanie Kontrahentow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <form action="#" data-th-action="@{/customer/showingCustomers/customerDetalis(id=${selectedCustomerId})}" data-th-method="POST" role="form">
    <div align="center">
    <table class="comicGreenShowingCustomers">
<thead>
<tr>
<th>PDF ID</th>
<th>Nazwa</th>
<th>Nazwa Pole</th>
</tr>
</thead>
<tbody>
<tr data-th-each="ct : ${selectedCustomerById}">
<td data-th-text="${selectedCustomerId}"></td>
<td data-th-text="${ct.customerName}"></td>
<td><input type="text" data-th-value="*{ct.customerName}" name="customerName" id="customerName"/></td>
<td><button type="submit">Zapisz</button></td>
</tr>
</tbody>
</table>
      </div>
      </form>
	</body>