<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Zarzadzanie Pracownikami - Strona Robocza</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <div align="center">
    <p>Current time is <span data-th-text="${serverTime}" /></span></p>
    <p>Modul Zarzadzania Pracownikami<p/>
    <p>Modul Zarzadzania Firmami</p>
    <p>Modul Zarzadzania Kontrahentami</p>
    <p>Administracja Ustawieniami</p>
    <p>Przeglad Bazy Danych - Statystyki</p>
    <p>Wersja Systemu</p>
    <img data-th-src="@{/images/logo_autogps.png}" />

    </div>
	</body>