<!DOCTYPE html>

<html lang="en">
<head>
    <title>Customer Control System</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class="mx-auto w-50">

<div class="card m-2 p-2">
    <nav class="navbar navbar-light bg-light m-1 p-1">
        <div class="card-body text-center">
            <img data-th-src="@{/images/logo_autogps.png}" style="max-width: 50%; height: 100px;">
        </div>
    </nav>
</div>

<table class="table table-striped text-center">
    <thead>
    <tr scope="row">
        <th>Zarzadzanie Pracownikami - Strona Robocza</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row">
        <td><a data-th-href="@{/customer/customerMenu}" class="btn btn-primary btn-lg" role="button" style="width:50% ">Przejście Do Applikacji</a></td>
    </tr>
    <tr scope="row">
        <td>Obecny czas: <span data-th-text="${serverTime}"/></span></td>
    </tr>
    </tbody>
</table>

<div class="card m-3 p-3 mx-auto">
    <div class="badge badge-light">
        Copyright © Michał Gołdys, 2020y.
    </div>
</div>

<script src="/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>