<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/blueTable.css}" rel="stylesheet" />
<head></head>
<body align="center">
   <h1>Logowanie</h1>
   <form name='f' action='doLogin' method='POST'>
      <table class="blueTable" align="center">
         <tr>
            <td>Uzytkownik:</td>
            <td><input type='text' name='username' value=''></td>
         </tr>
         <tr>
            <td>Haslo:</td>
            <td><input type='password' name='password' /></td>
         </tr>
         <tr>
            <td><input name="submit" type="submit" value="Zaloguj" />
			<input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"/></td>
         </tr>
      </table>
  </form>
</body>
</html>