<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/comicGreenShowingCustomers.css}" rel="stylesheet" />
  <head>
    <title>Wyswietlanie Kontrahentow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <div align="center">
    <table class="comicGreenShowingCustomers">
    
<thead>
<tr>

<th:block data-th-if="${isPrevious == true}">
<th><a data-th-href="@{./?(page=${page-1}, sort=${sort}, query=${query})}">Poprzednia Strona</a></th>
</th:block>

<th:block data-th-if="${isNext == true}">
<th><a data-th-href="@{./?(page=${page+1}, sort=${sort}, query=${query})}">Nastepna Strona</a></th>
</th:block>

<form action="#" data-th-action="@{showingCustomersInteractive/?(page=${page}, sort=${sort}, query=${query})}">
<th><input type="text" minlength="1" maxlength="30" data-th-value="${query}" name="query" id="query"></th>
<th><input type="Submit" value="Search"></input></th>
</form>


</tr>
<tr>
<th>LP</th>
<th><a data-th-href="@{/customer/showingCustomersInteractive/?page=&sort=customerContractId(query=${query})}">Numer Umowy</a></th>
<th><a data-th-href="@{/customer/showingCustomersInteractive/?page=&sort=customerContractPdfId(query=${query})}">Numer PDF</a></th>
<th><a data-th-href="@{/customer/showingCustomersInteractive/?page=&sort=customerName(query=${query})}">Nazwa</a></th>
<th><a data-th-href="@{/customer/showingCustomersInteractive/?page=&sort=customerNip(query=${query})}">NIP</a></th>
<th><a data-th-href="@{/customer/showingCustomersInteractive/?page=&sort=CustomerAdress.customerCity(query=${query})}">Miasto</a></th>
<th><a data-th-href="@{/customer/showingCustomersInteractive/?page=&sort=CustomerAdress.customerStreet(query=${query})}">Ulica</a></th>
<th><a data-th-href="@{/customer/showingCustomersInteractive/?page=&sort=CustomerAdress.customerZipCode(query=${query})}">Kod Pocztowy</a></th>
<th>Os.Kont.: Imie</th>
<th>Os.Kont.: Nazwisko</th>
<th>Os.Kont.: Telefon</th>
<th>Os.Kont.: E-mail</th>
<th>Faktura Elektroniczna</th>
<th>Aktywny</th>
</tr>
</thead>
<tbody>
<tr data-th-each="ct : ${customer}">
<td data-th-text="${ctStat.count}"></td>
<td data-th-text="${ct.customerContractId}"></td>
<td><a data-th-href="@{/customer/showingCustomers/customerDetalis(id=${ct.customerContractPdfId})}" data-th-text="${ct.customerContractPdfId}"></a></td>
<td data-th-text="${ct.customerName}"></td>
<td data-th-text="${ct.customerNip}"></td>
<td data-th-text="${ct.CustomerAdress.customerCity}"></td>
<td data-th-text="${ct.CustomerAdress.customerStreet}"></td>
<td data-th-text="${ct.CustomerAdress.customerZipCode}"></td>
<td data-th-each="ctc : ${ct.CustomerContact}" 
        data-th-text="${ctc.customerContactName}"></td>
<td data-th-each="ctc : ${ct.CustomerContact}" 
        data-th-text="${ctc.customerContactSurname}"></td>
<td data-th-each="ctc : ${ct.CustomerContact}" 
        data-th-text="${ctc.customerContactPhoneNumber}"></td>
<td data-th-each="ctc : ${ct.CustomerContact}" 
        data-th-text="${ctc.customerContactMailAdress}"></td>
<td data-th-text="${ct.CustomerContractDetalis.customerEinvoiceAgreement}"></td>  
<td data-th-text="${ct.customerIsActive}"></td>
</tr>
<a href="/customer/customerMenu/" data-th-href="@{/customer/customerMenu/}"><button type ="button">Powrot</button></a>
</tbody>
</table>
      </div>
	</body>