<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/comicGreenShowingCustomers.css}" rel="stylesheet" />
  <head>
    <title>Wyswietlanie Kontrahentow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <div align="center">
    <table class="comicGreenShowingCustomers">
<thead>
<tr>
<th>LP</th>
<th>Numer Umowy</th>
<th>Numer PDF</th>
<th>Nazwa</th>
<th>NIP</th>
<th>Miasto</th>
<th>Ulica</th>
<th>Kod Pocztowy</th>
<th>Os.Kont.: Imie</th>
<th>Os.Kont.: Nazwisko</th>
<th>Os.Kont.: Telefon</th>
<th>Os.Kont.: E-mail</th>
<th>Faktura Elektroniczna</th>
</tr>
</thead>
<tbody>
<tr data-th-each="ct : ${customer}">
<td data-th-text="${ctStat.count}"></td>
<td data-th-text="${ct.customerContractId}"> </td>
<td data-th-text="${ct.customerContractPdfId}"> </td>
<td data-th-text="${ct.customerName}"></td>
<td data-th-text="${ct.customerNip}"></td>
<td data-th-text="${ct.CustomerAdress.customerCity}"></td>
<td data-th-text="${ct.CustomerAdress.customerStreet}"></td>
<td data-th-text="${ct.CustomerAdress.customerZipCode}"></td>
<td data-th-each="ctc : ${ct.CustomerContact}" 
        data-th-text="${ctc.customerContactName}"></td>
<td data-th-each="ctc : ${ct.CustomerContact}" 
        data-th-text="${ctc.customerContactSurname}"></td>
<td data-th-each="ctc : ${ct.CustomerContact}" 
        data-th-text="${ctc.customerContactPhoneNumber}"></td>
<td data-th-each="ctc : ${ct.CustomerContact}" 
        data-th-text="${ctc.customerContactMailAdress}"></td>
<td data-th-text="${ct.CustomerContractDetalis.customerEinvoiceAgreement}"></td>  
</tr>
</tbody>
</table>
      </div>
	</body>