<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/comicGreenShowingCustomers.css}" rel="stylesheet" />
  <head>
    <title>Wyswietlanie Kontrahentow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <div align="center">
    <table class="comicGreenShowingCustomers">
<thead>
<tr>
<th>LP</th>
<th>Numer Umowy</th>
<th>Numer PDF</th>
<th>Nazwa</th>
<th>NIP</th>
<th>Faktura Elektroniczna</th>
<th>Aktywny</th>
<th>Ilosc Ab. PL</th>
<th>Ilosc Ab. PL+UE</th>
<th>Ilosc Ab. RU</th>
<th>Stawka PL</th>
<th>Stawka PL+UE</th>
<th>Stawka RU</th>
<th>Suma Abonamentow</th>
<th>Przychod</th>
<th>Bilans</th>


</tr>
</thead>
<tbody>
<tr data-th-each="ct : ${customer}">
<td data-th-text="${ctStat.count}"></td>
<td data-th-text="${ct.customerContractId}"></td>
<td><a data-th-href="@{/customer/showingCustomers/customerBillingDetalis(id=${ct.customerContractPdfId})}" data-th-text="${ct.customerContractPdfId}"></a></td>
<td data-th-text="${ct.customerName}"></td>
<td data-th-text="${ct.customerNip}"></td>
<td data-th-text="${ct.CustomerContractDetalis.customerEinvoiceAgreement}"></td>  
<td data-th-text="${ct.customerIsActive}"></td>
<td data-th-text="${ct.CustomerContractDetalis.customerPlSubstripctions}"></td>
<td data-th-text="${ct.CustomerContractDetalis.customerPlUeSubstripctions}"></td>
<td data-th-text="${ct.CustomerContractDetalis.customerRuSubscriptions}"></td>
<td data-th-text="${ct.CustomerContractDetalis.customerPlFee}"></td>
<td data-th-text="${ct.CustomerContractDetalis.customerPlUeFee}"></td>
<td data-th-text="${ct.CustomerContractDetalis.customerRuFee}"></td>
<td data-th-each="subSumAtr : ${subSumAtr}" 
	data-th-text="${subSumAtr}"></td>
<td>Abonamentow</td>
<td>Przychod</td>


</tr>
<a href="/customer/customerMenu/" data-th-href="@{/customer/customerMenu/}"><button type ="button">Powrot</button></a>
</tbody>
</table>
      </div>
	</body>