<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link data-th-href="@{/css/comicGreenShowingCustomers.css}" rel="stylesheet" />
  <head>
    <title>Wyswietlanie Kontrahentow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <body>
    <div align="center">
    <table class="comicGreenShowingCustomers">
<thead>
<tr>
<th>LP</th>
<th>PDF Numer</th>
<th>Nazwa</th>
<th>NIP</th>
<th>Miast</th>
<th>Ulica</th>
<th>Kod Pocztowy</th>
<th>OK Imie</th>
<th>OK Nazwisko</th>
<th>OK Telefon</th>
<th>email</th>
<th>E-Faktura</th>
</tr>
</thead>
<tbody>
<tr th:each="var : ${customer}">
<td th:text="${var.customerName}"></td>
<td>cell2_1</td>
<td>cell3_1</td>
<td>cell4_1</td>
<td>cell5_1</td>
<td>cell6_1</td>
<td>cell7_1</td>
<td>cell8_1</td>
<td>cell9_1</td>
<td>cell10_1</td>
<td>cell11_1</td>
<td>cell12_1</td>
</tr>
</tbody>
</table>
      </div>
	</body>