<!DOCTYPE html>

<html lang="en">
<head>
    <title>Customer Control System - Panel Użytkownków</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <script src="/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body >

<div class="card m-2 p-2 mx-auto">
    <nav class="navbar navbar-light bg-light m-1 p-1">
        <div class="card-body text-center">
            <img data-th-src="@{/images/logo_autogps.png}" style="max-width: 25%; height: 100px;">
        </div>
    </nav>
</div>

<div class="card text-center mx-auto m-2 p-2 w-50">
    <table class="table table-striped align-middle">
        <thead >
        <tr>
            <th>LP</th>
            <th>Nazwa Użytkownika</th>
            <th>Aktywny</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody  data-th-each="user: ${userList}">
        <tr>
            <td data-th-text="${userStat.count}"></td>
            <td data-th-text="${user.username}"></td>
            <td data-th-text="${user.enabled}"></td>
            <td>
                <a class="btn-sm btn-primary m-2" data-th-href="@{/customer/userscontrolpanel/userdetails/(username=${user.username})}" role="button">Edytuj</a>
                <a class="btn-sm btn-danger m-2" data-toggle="modal" data-th-attr="data-target='#'+${user.username}" role="button">Usuń</a>
            </td>
        </tr>

        <!-- Modal -->
        <div class="modal fade" data-th-id="${user.username}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="removeUserWarning" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Potwierdzenie Usunięcia Użytkownika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a>Czy na pewno chcesz usunąć użytkownika: "<a data-th-text="${user.username}"></a>"?</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <form data-th-action="@{/customer/userscontrolpanel/delete/{username}(username=${user.username})}"
                              data-th-method="POST" role="form">
                            <button class="btn btn-danger" id="submit" name="submit" type="submit">Usuń</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </tbody>
    </table>

    <div class="card text-center mx-auto m-2 p-2 w-50">
        <a class="btn btn-light m-2" data-th-href="@{/customer/customerMenu}" role="button">Powrót</a>
        <a class="btn btn-success m-2" data-th-href="@{/customer/userscontrolpanel/newuser}" role="button">Dodaj nowego użytkownika</a>
    </div>

</div>

<div class="card m-3 p-3 mx-auto w-25">
    <div class="badge badge-light mx-auto">
        Copyright © Michał Gołdys, 2020y.
    </div>
</div>

</body>
</html>